@import url(https://fonts.googleapis.com/css?family=Archivo+Black);

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0px;
    grid-area: header;
    background-image: linear-gradient(black, #00000000);
    color: var(--White);
    
}
.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.AI-title1 {
    color: #FFFFFF;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 40px;
    padding-left: 25px;
}
.AI-title2 {
    color: #D21312;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 40px;
}
.AI-title3 {
    color: #FFFFFF;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 40px;
}
.AI-logo {
    color: #D21312;
    font-weight:100;
    font-size: 20px;

}





.nav-bar {
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*position: absolute;*/
    height: 80px;
    top: 0px;
    grid-area: header;
    color: var(--White);
    justify-content: flex-end;
    padding-right: 25px;
}
.nav1{
    color: #FFFFFF;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 18px;
    padding-left: 25px;
}
.nav2{
    color: #FFFFFF;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 18px;
    padding-left: 25px;
}
.nav3{
    color: #FFFFFF;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 18px;
    padding-left: 25px;
}
.nav4{
    color: #FFFFFF;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 18px;
    padding-left: 25px;
}

.nav1:hover,
.nav2:hover,
.nav3:hover,
.nav4:hover {
    color: #D21312;
    cursor: pointer;
}