.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 7%;
    top: 0px;
    grid-area: header;
    justify-content: center;
    background-color: #0000003d; /*temporary*/
    color: var(--White);
}
.AI-logo {
    color: #D21312;
    font-weight:100;
    font-family: monospace;

}

