@import url('./Login.css');
@import url('./OnBoarding.css');
@import url('./landingPage.css');
@import url('./header.css');
@import url('./nav.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
