@import url(https://fonts.googleapis.com/css?family=Archivo+Black);

.nav-bar {
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    height: 80px;
    top: 0px;
    grid-area: header;
    color: var(--White);
    justify-content: flex-end;
}
.nav1{
    color: #FFFFFF;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 18px;
    padding-left: 25px;
}
.nav2{
    color: #FFFFFF;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 18px;
    padding-left: 25px;
}
.nav3{
    color: #FFFFFF;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 18px;
    padding-left: 25px;
}
.nav4{
    color: #FFFFFF;
    font-weight:100;
    font-family: 'Archivo Black';
    font-size: 18px;
    padding-left: 25px;
}
